.contact {
  padding-top: 75px;
  background-color: $main-bg-color;

  &__title {
    font-family: "SourceSansPro-Light";
    font-size: 2rem;
    color: $text-color-heading;
    text-align: center;
    margin-bottom: 3.3rem;
  }

  &__sub-title {
    font-family: "OpenSans-Regular";
    font-size: 1.4rem;
    color: $text-color-text;
    text-align: center;
    margin-bottom: 6rem;
    max-width: 425px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 767px) {
      margin-bottom: 3rem;
    }
  }
}

.contact-info{
  padding-bottom: 100px;

  &__item {
    @media (max-width: 767px) {
      margin-top: 30px;
    }

    @media (max-width: 575px) {
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__container-img {
    box-shadow: 0 0 0 50vh rgba(0, 0, 0, 0.65) inset; 
    height: 145px;

    &_email {
      background-image: url("");
    }

    &_office {
      background-image: url("");
    } 

    &_phone {
      background-image: url("");
    }
  }

  &__img {

  }

  &__body {
    background-color: #ffffff;
    padding-top: 23px;
    padding-bottom: 23px;
  }

  &__title {
    font-family: "OpenSans-Regular";
    font-size: 1.6rem;
    color: $text-color-heading;
    text-align: center;
  }

  &__text {
    font-family: "OpenSans-Regular";
    font-size: 1.4rem;
    color: $text-color-text;
    text-align: center;
  }
}