.form {
  padding-top: 80px;
  padding-bottom: 130px;
  background-color: $text-color-for-dark-bg;

  & input {
    font-family: "OpenSans-Regular";
    font-size: 1.4rem;
    margin-bottom: 30px;
    border: 1px solid $text-color-text;
    padding-left: 15px;
    width: 100%;
    height: 40px;

    &::-webkit-input-placeholder {
      font-family: "OpenSans-Regular";
      font-size: 1.4rem;
      color: $text-color-text;
      
    }
  }

  & textarea {
    font-family: "OpenSans-Regular";
    border: 1px solid $text-color-text;
    padding-left: 15px;
    width: 100%;
    height: 190px;
    margin-bottom: 30px;
    font-size: 1.4rem;
  }

  & input[type="button"] {
    font-family: "OpenSans-Regular";
    height: 50px;
    width: 100%;
    background-color: $mian-color;
    color: $text-color-for-dark-bg;
    font-size: 1.6rem;
    border: none;
  }
}