.map {
  height: 500px;
  position: relative;

  & iframe {
    width: 100%;
    height: 100%; 
    z-index: 0;
    display: block;
    position: absolute;
  }

  &__upper-button {
    box-shadow: 0 0 0 50vh rgba(0, 0, 0, 0.65) inset;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    transition: height 0.3s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  &__button {
    font-family: "OpenSans-Regular";
    border: none;
    color: $text-color-for-dark-bg;
    font-size: 1.6rem;
    background: transparent;
    display: flex;
  }
}