.about-us {
  padding-top: 110px;
  padding-bottom: 100px;

  &__content {
    padding-left: 30px;

    @media (max-width: 767px) {  
      padding-left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__title {
    font-family: "SourceSansPro-Light";
    font-size: 2.0rem;
    color: $text-color-heading;
    margin-bottom: 4.5rem;

    @media (max-width: 767px) {  
      text-align: center;
    }
  }

  &__text {
    font-family: "OpenSans-Regular";
    font-size: 1.4rem;
    line-height: 1.4rem * 1.8;
    color: $text-color-text;
    margin-bottom: 3.4rem;

    @media (max-width: 767px) {
      text-align: center;
      line-height: 1.4rem * 1.5;
    }
  }

  &__link {
    font-family: "OpenSans-Regular";
    font-size: 1.6rem;
    color: $text-color-heading;
    text-align: center;
    border: 1px solid $text-color-heading;
    border-radius: 1.9rem;
    padding: 6px 30px;

    // @media (max-width: 767px) {
    //   display: block;
    //   margin: 0 auto;
    // }
    
    &:hover {
      color: $mian-color;
      border-color: $mian-color;
    }
    
  }

  &__img {
    display: block;
    height: 100%;
    margin: 0 auto;

    @media (max-width: 767px) {
      margin-top: 35px;
    }

    @media (max-width: 991px) { 
      height: auto;
      width: 100%;
    }

    // @media (max-width: 767px) {  
    //   height: 75%;
    // }
  }

}