.blog {
  box-shadow: 0 0 0 500px rgba(0, 0, 0, 0.75) inset;
  padding-top: 7.6rem;
  padding-bottom: 10rem;
  background-image: url("../img/blog bg.jpg");
  background-size: 100% 100%;

  @media (max-width: 575px) {
    background-size: auto 100%;
  }
}

.blog-slider {
  width: 100%;
  height: 100%;
}

.blog-slid {
  &_active {

  }

  &__title {
    font-family: "SourceSansPro-Light";
    font-size: 2.0rem;
    color: $text-color-for-dark-bg;
    margin-bottom: 3.2rem;
  }

  &__sub-title {
    font-family: "OpenSans-Regular";
    font-size: 1.4rem;
    color: #929393;
    margin-bottom: 9.5rem;
    max-width: 420px;

    @media (max-width: 575px) {
      margin-bottom: 5rem;
    }
  }
}

.blog-slid-body {
  margin-left: 70px;

  @media (max-width: 575px) {
    margin-left: 15px;
  }

  &__title {
    font-family: "OpenSans-Regular";
    font-size: 2.0rem;
    color: $text-color-for-dark-bg;
    margin-bottom: 1rem;
  }

  &__autor {
    font-family: "SourceSansPro-Light";
    font-style: italic;
    font-size: 1.4rem;
    color: $text-color-text;
  }

  &__name {
    font-family: "SourceSansPro-Light";
    color: $mian-color;
  }

  &__comunity {
    font-family: "SourceSansPro-Light";
    font-size: 1.4rem;
    color: #6d6b6b;
  }

  &__text {
    font-family: "OpenSans-Regular";
    font-size: 1.4rem;
    color: $text-color-text;
    max-width: 540px;
  }

  &__link {
    color: #abacac;
    font-family: "OpenSans-Regular";
    font-size: 1.6rem;

    &:hover {
      color: #abacac;
    }
  }
}

.blog-dots-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  &__item {
    width: 10px;
    height: 10px;
    cursor: pointer;
    border: 1px solid $mian-color;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
  

    &_active {
      background-color: $mian-color;
    }
  }
}