.details-about-us {
  background-color: $main-bg-color;
  padding-top: 7.5rem;
  padding-bottom: 10rem; 

  &__title {
    font-family: "SourceSansPro-Light";
    font-size: 2rem;
    margin-bottom: 3.5rem;
    color: $text-color-heading;
    text-align: center;
  }

  &__sub-title {
    font-family: "OpenSans-Regular";
    font-size: 1.4rem;
    color: $text-color-text;
    margin-bottom: 58px;
    text-align: center;
    max-width: 430px;
    margin-left: auto;
    margin-right: auto;
  }

  & .container {
    position: relative;
  }
}

.nav-details-about-us {
  display: flex;
  justify-content: center;
  margin-bottom: 55px;

  &__item {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: $text-color-text;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    cursor: pointer;

    &_active {
      background-color: $mian-color;
    }

    & img {
      width: 55%;
      height: 55%;
    }
  }
}



.slide-details {
  text-align: left;
  position: absolute;
  opacity: 0;
  z-index: 1;
  transition: opacity 1s;

  &__title {
    font-family: "OpenSans-Regular";
    font-size: 2.0rem;
    color: $text-color-heading;
    margin-bottom: 2rem;
  }

  &__text {
    font-family: "OpenSans-Regular";
    color: $text-color-text;

    &_first-column {
       font-size: 1.6rem;
    }

    &_second-column {
      font-size: 1.4rem;
   }
  }

  &__main-text {
    color: $mian-color;
  }

  &__secondary-text {
    color: $text-color-heading;
  }

}

.slide-details-show {
  opacity: 1;
  z-index: 2;
}

.slider-details {
  height: 100px;

  @media (max-width: 1199px) {
    height: 115px;
  }

  @media (max-width: 991px) {
    height: 130px;
  }
}