.featured-projects {
  text-align: center;
  padding-top: 7.7rem;

  &__title {
    font-family: "SourceSansPro-Light";
    font-size: 2.0rem;
    color: $text-color-heading;
    margin-bottom: 4.5rem;
  }

  &__sub-title {
    font-family: "OpenSans-Regular";
    font-size: 1.4rem;
    color: $text-color-text;
    margin-bottom: 3.4rem;
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
  }
}

.galery-projects {
  height: 320px;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 767px) {
    height: 620px;
  }

  @media (max-width: 575px) {
    height: 520px;
  }

  & .galery-projects-item {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 767px) {
      height: 50%;
    }

    &__text {
      font-family: "SourceSansPro-Light";
      font-size: 2.0rem;
      color: $text-color-for-dark-bg;
    }

    &_first {
      width: 50%;
      background-image: url("../img/featured work 1.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% auto;
      box-shadow: 0 0 0 500px rgba(0, 0, 0, 0.55) inset;

      @media (max-width: 1199px) {
        background-size:  auto 100%;
      }

      @media (max-width: 767px) {
        width: 100%;
        background-size: 100% auto;
      }

      @media (max-width: 575px) {
        background-size:  auto 100%;
      }
    }

    &_second {
      width: 25%;
      background-image: url("../img/featured work 2.jpg");
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-position: center;
      box-shadow: 0 0 0 500px rgba(0, 0, 0, 0.55) inset;

      @media (max-width: 1626px) {
        background-size: auto 100%;
      }

      @media (max-width: 767px) {
        width: 50%;
      }
    }

    &_third {
      width: 25%;
      background-image: url("../img/featured work 4.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% auto;
      box-shadow: 0 0 0 500px rgba(0, 0, 0, 0.55) inset;

      @media (max-width: 1626px) {
        background-size: auto 100%;
      }

      @media (max-width: 767px) {
        width: 50%;
      }
    }

    &_active {
      box-shadow: none;

      & * {
        display: none;
      }
    }
  }
}

.featured-projects-cta {
  padding: 37px 0;
  display: flex;
  align-items: center;
  text-align: center;
  
  background-image: url("../img/work bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  box-shadow: 0 0 0 160px $opacity-bg-color inset;

  &__text { 
    font-family: "OpenSans-Regular";
    font-size: 2.0rem;
    color: $text-color-for-dark-bg;
  }

  &__link {
    font-family: "OpenSans-Regular";
    font-size: 1.6rem;
    color: $text-color-for-dark-bg;
    border: 1px solid $text-color-for-dark-bg;
    border-radius: 1.9rem;
    padding: 6px 30px;

    &:hover {
      color: $text-color-heading;
      border: 1px solid $text-color-heading;
    }
  }
}