.footer {
  padding-top: 75px;
  padding-bottom: 88px;
  background-color: $main-bg-color;

  &__title {
    font-size: 2.5rem;
    color: $text-color-heading;
    text-align: center;
    margin-bottom: 1.6rem;
  }

  &__copyright {
    font-family: "OpenSans-Regular";
    font-size: 1.4rem;
    color: $text-color-text;
    text-align: center;
    margin-bottom: 2rem;
  }
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;

  &__item {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 4px;
  }
}