.header {
    width: 100%;
    padding-top: 26px;
    padding-bottom: 26px;
    position: absolute;
    z-index: 800;
    background: transparent;
    
    & .container {
        width: 91%;
    }
}

.navigation {
    color: $text-color-for-dark-bg;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__brend {
        // font
        font-size: 2.5rem;
        color: $text-color-for-dark-bg;

        &:hover {
            color: $text-color-for-dark-bg;
            text-decoration: none;
        }
    }

    &__collapse {
        @media (max-width: 991px) { 
            display: none;
        }
    }

    &__toggler {
        background: transparent;
        display: none;
        border: 1px solid transparent;

        &:focus {
            outline: none;
        }

        &:hover {
            border-color:  $text-color-for-dark-bg;
        }

        @media (max-width: 991px) { 
            display: block;
        }
    }
}

.nav {
    &__item {
        list-style-type: none;
    }

    &__link {
        color: $text-color-for-dark-bg;
        font-family: "OpenSans-Regular";
        font-size: 1.6rem;
        padding: 7px 20px;
        margin: 0 1px;
        border: 1px solid transparent;
        border-radius: 18px;
        
        &:hover {
            border-color: $text-color-for-dark-bg;
            color: $text-color-for-dark-bg;
            text-decoration: none;
        }
    }
}

.fixed {
    position: fixed;
    box-shadow: 0 0 0 50vh rgba(0, 0, 0, 0.85) inset;
}

.show-menu {
    @media (max-width: 991px) { 
        box-shadow: 0 0 0 50vh rgba(0, 0, 0, 0.85) inset;
        
        .navigation {
            align-items: flex-start;

            &__collapse {
                    display: block;
                }
        }
    
        .nav {
            display: flex;
            flex-direction: column;
            align-items: center;

            &__item {
                margin: 7px 0;
            } 
        }
    }
    
}

// .navbar-brand {
//     color: #ffffff;
// }

// .navbar-nav {
//     & .nav-item {
//         color: #ffffff;

//         &:hover {
//             border: 1px solid #ffffff;
//         }
         
//     }
// }