.main-screen {
  background-image: url("../img/slid 1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  box-shadow: 0 0 0 50vh rgba(0, 0, 0, 0.35) inset;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;

  @media (max-width: 1199px) {
    background-size: auto 100%;
  }

  @media (max-width: 767px) {
    background-position: 35% center;
  }

  @media (max-width: 575px) {
    background-position: 30% center;
  }

  &__title {
    font-family: "SourceSansPro-Light";
    font-size: 3.5rem;
    color: $text-color-for-dark-bg;
    margin-bottom: 3.5rem;
  }

  &__sub-title {
    font-family: "OpenSans-Regular";
    font-size: 1.6rem;
    color: $text-color-for-dark-bg;
  }

  &__scroll {
    position: relative;
    top: 24vh;
    margin: 0 auto;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: $mian-color;
    border-width: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    & #scrollArrow {
      width: 12px;
      height: 12px;
      position: relative;
      top: 1px;
    }
  }
}