.portfolio {
  padding-top: 7.5rem;
  padding-bottom: 10rem;
  background-color: $main-bg-color;
  text-align: center;

  &__title {
    font-family: "SourceSansPro-Light";
    font-size: 2.0rem;
    color: $text-color-heading;
    margin-bottom: 3.4rem;
  }

  &__sub-title {
    font-family: "OpenSans-Regular";
    font-size: 1.4rem;
    color: $text-color-text;
    margin-bottom: 5rem;
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
  }
}

.portfolio-filter {
  margin-bottom: 20px;

  &__button {
    font-family: "OpenSans-Regular";
    font-size: 1.6rem;
    color: $text-color-heading;
    background: transparent;
    border: none;

    &_active {
      &::after {
        contain: "";
        width: 40px;
        height: 1px;
        background-color: $mian-color;
      }
    }
  }
}

.portfolio-projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 970px;

  @media (max-width: 767px) {
    height: 1940px;
  }
}

$baised-height-portfolio-card: 210px;

.portfolio-card {
  margin: 5px;
  width: 24%;
  background-position: center;

  @media (max-width: 767px) {
    width: 49%;
  }

  &:nth-child(1) {
    height: $baised-height-portfolio-card + 150px;
    background-image: url("../img/portfolio 1.jpg");
  }

  &:nth-child(2) {
    height: $baised-height-portfolio-card + 150px;
    background-image: url("../img/portfolio 2.jpg");
  }

  &:nth-child(3) {
    height: $baised-height-portfolio-card;
    background-image: url("../img/portfolio 3.jpg");
  }

  &:nth-child(4) {
    height: $baised-height-portfolio-card + 20px;
    background-image: url("../img/portfolio 4.jpg");
  }

  &:nth-child(5) {
    height: $baised-height-portfolio-card + 130px;
    background-image: url("../img/portfolio 5.jpg");
  }

  &:nth-child(6) {
    height: $baised-height-portfolio-card + 150px;
    background-image: url("../img/portfolio 6.jpg");
  }

  &:nth-child(7) {
    height: $baised-height-portfolio-card + 90px;
    background-image: url("../img/portfolio 7.jpg");
  }

  &:nth-child(8) {
    height: $baised-height-portfolio-card + 165px;
    background-image: url("../img/portfolio 8.jpg");
  }

  &:nth-child(9) {
    height: $baised-height-portfolio-card + 45px;
    background-image: url("../img/portfolio 9.jpg");
  }

  &:nth-child(10) {
    height: $baised-height-portfolio-card + 150px;
    background-image: url("../img/portfolio 10.jpg");
  }

  &:nth-child(11) {
    height: $baised-height-portfolio-card + 60px;
    background-image: url("../img/portfolio 11.jpg");
  }

  &:nth-child(12) {
    height: $baised-height-portfolio-card + 90px;
    background-image: url("../img/portfolio 12.jpg");
  }

  &__body {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0 500px rgba(0, 0, 0, 0.75) inset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 12%;
    padding-right: 5%;
    opacity: 0;
    transition: opacity 0.3s ease-out;

    &:hover {
      opacity: 1;
    }
  }

  &__title {
    font-family: "SourceSansPro-Light";
    font-size: 2.0rem;
    color: $mian-color;
    margin-bottom: 2.6rem;

    @media  (max-width: 991px) {
      font-size: 1.7rem;
      margin-bottom: 1.9rem;
    }
  }

  &__text {
    font-family: "OpenSans-Regular";
    text-align: left;
    font-size: 1.4rem;
    color: $text-color-text;
    margin-bottom: 2.6rem;

    @media  (max-width: 991px) {
      font-size: 1.2rem;
      margin-bottom: 1.8rem;
    }
  }

  &__links {
    display: flex;
  }

  &__link {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    background-color: #000000;
    // position: relative;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link-img {
    // position: absolute;
    width: 18px;
    height: 18px;
  }

  
}


.portfolio-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200px;
  background-image: url("../img/portfolio bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  box-shadow: 0 0 0 160px $opacity-bg-color inset;

  &__text {
    font-family: "OpenSans-Regular";
    font-size: 2.0rem;
    color: $text-color-for-dark-bg;
  }

  &__link {
    font-family: "OpenSans-Regular";
    font-size: 1.6rem;
    color: $text-color-for-dark-bg;
    border: 1px solid $text-color-for-dark-bg;
    border-radius: 1.9rem;
    padding: 6px 30px;

    &:hover {
      color: $text-color-heading;
      border: 1px solid $text-color-heading;
    }
  }
}