.price {
  padding-top: 7.5rem;
  padding-bottom: 10rem;
  background-color: $main-bg-color;

  &__title {
    font-family: "SourceSansPro-Light";
    font-size: 2rem;
    color: $text-color-heading;
    text-align: center;
    margin-bottom: 3.3rem;
  }

  &__sub-title {
    font-family: "OpenSans-Regular";
    font-size: 1.4rem;
    color: $text-color-text;
    text-align: center;
    margin-bottom: 6rem;

    @media (max-width: 767px) {
      margin-bottom: 3rem;
    }
    
  }
}


$height-block: 280px;

.price-plane {
  background-color: $text-color-for-dark-bg;

  &__services {
    font-family: "OpenSans-Regular";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    height: 0px;
    font-size: 1.4rem;
    color: $text-color-text;
    padding-left: 24%;
    transition: height 0.3s ease-out;
  }

  &__title {
    font-family: "OpenSans-Bold";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    font-size: 2rem;
    color: $text-color-for-dark-bg;
    text-align: center;
    background-color: $mian-color;
  }

  &__cost {
    font-family: "OpenSans-Regular";
    font-size: 2rem;
    color: $text-color-text;
    text-align: center;
    height: $height-block;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height 0.3s ease-out;

    & span {
      font-family: "SourceSansPro-Black";
      font-size: 4.2rem;
      color: $mian-color;
    }
  }
  
  &:hover &__services {
    height: $height-block;
  }

  &:hover &__cost {
    height: 0px;
  }


  @media (max-width: 767px) {
    margin-top: 30px;
  }

  @media (max-width: 575px) {
    max-width: 260px;
    margin-right: auto;
    margin-left: auto; 
  }
}