.services {
  padding-top: 7.5rem;
  padding-bottom: 9rem;
  background-color: $main-bg-color;

  &__title {
    font-family: "SourceSansPro-Light";
    font-size: 2.0rem;
    color: $text-color-heading;
    margin-bottom: 3.2rem;
    text-align: center;
  }

  &__sub-title {
    font-family: "OpenSans-Regular";
    font-size: 1.4rem;
    color: $text-color-text;
    margin-bottom: 5.5rem;
    text-align: center;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto
  }
}

.services-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__item {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: $text-color-text;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 9px 0;
    cursor: pointer;

    &_active {
      background-color: $mian-color;
    }

    & img {
      width: 55%;
      height: 55%;
    }
  }
}

.services-slider {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.services-slid {
  max-width: 345px;
  text-align: left;
  position: absolute;
  opacity: 0;
  z-index: 1;
  transition: opacity 1s;

  &__title {
    font-family: "OpenSans-Regular";
    font-size: 2rem;
    margin-bottom: 3rem;
    color: $text-color-heading;
  }

  &__text {
    font-family: "OpenSans-Regular";
    font-size: 1.6rem;
    color: $text-color-text;
    margin-bottom: 3rem;

    &_paragraf-two {
      font-size: 1.4rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__main-text {
    color: $mian-color;
  }

  &_active {
    opacity: 1;
    z-index: 2;
  }
}

.skills {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: 991px) {
    margin-top: 30px;
  }
 

  &__item {
    width: 118px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__circles {
    width: 117px;
    height: 117px;

    & circle {
      &:first-child {
        stroke-width: 3;
        fill: transparent;
        stroke:rgb(4, 115, 120);
      }

      &:last-child {
        stroke-width: 5;
        fill: transparent;
        stroke: $mian-color;
      }
    }
  }

  &__procent {
    font-family: "OpenSans-Regular";
    font-size: 2.2rem;
    color: $text-color-text;
    position: absolute;
    left: 41px;
    top: 41px;

    & span:last-child {
      font-size: 1.4rem;
    }

  }

  &__name{
    font-family: "Roboto-Light";
    margin-top: 20px;
    font-size: 1.6rem;
    color: $text-color-text;
  }
}