.subscrible {
  padding-top: 75px;
  padding-bottom: 100px;
  background-image: url("../img/subscribe bg.jpg");
  background-size: 100% auto;
  box-shadow: 0 0 0 50vh rgba(0, 0, 0, 0.65) inset; 

  @media (max-width: 575px) {
    background-size: auto 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-family: "SourceSansPro-Light";
    font-size: 2rem;
    color: $text-color-for-dark-bg;
    text-align: center;
    margin-bottom: 3.5rem;
  }

  &__sub-title {
    font-family: "OpenSans-Regular";
    font-size: 1.4rem;
    color: $text-color-text;
    margin-bottom: 5.6rem;
    text-align: center;
    max-width: 450px;
  }
}

.subscrible-form {
  width: 100%;
  display: flex;
  justify-content: center;

  @media (max-width: 575px) {
    flex-direction: column;
    align-items: center;
  }

  &__email {
    font-family: "OpenSans-Regular";
    font-size: 1.4rem;
    color: $text-color-for-dark-bg;
    height: 40px;
    max-width: 350px;
    width: 60%;
    border: 1px solid $text-color-text;
    background-color: transparent;
    padding-left: 22px;
    margin-right: 9px;

    @media (max-width: 575px) {
      width: 250px;
      margin-bottom: 9px;
      margin-right: 0;
    }

    &::-webkit-input-placeholder {
      font-family: "OpenSans-Regular";
      font-size: 1.4rem;
      color: $text-color-for-dark-bg;
    }
  }

  &__submit {
    font-family: "OpenSans-Regular";
    width: 150px;
    height: 40px;
    font-size: 1.4rem;
    color: $text-color-for-dark-bg;
    background-color: $mian-color;
    border: 1px solid $mian-color;

    @media (max-width: 575px) {
      width: 250px;
    }
  }
}