.team {
  padding-top: 7.5rem;
  padding-bottom: 7rem;

  &__title {
    font-family: "SourceSansPro-Light";
    font-size: 2.0rem;
    color: $text-color-heading;
    margin-bottom: 3.4rem;
    text-align: center;
  }

  &__sub-title {
    font-family: "OpenSans-Regular";
    font-size: 1.4rem;
    color: $text-color-text;
    margin-bottom: 6rem;
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }  
}

.team-slider {
  margin-bottom: 60px;
}

.team-slid {  
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;

    // height: 800px;
  }

  &__foto-container {
    margin-left: 30px;
    
    @media (max-width: 767px) {
      margin-left:0;
    }
  }

  &__foto {
    height: 365px;
    width: 285px;
  }

  // &__container {
  //   @media (max-width: 767px) {
  //     display: flex;
  //     flex-direction: column;
  //     align-items: center;
  //   }
  // }

  &__body {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    margin-right: 30px;

    @media (max-width: 767px) {
      // height: 365px;
      margin-top: 10px;
      align-items: center;
      margin-left: 15px;
      margin-right: 15px;
    }
  }
    

  &__name {
    width: 80%;
    font-family: "SourceSansPro-Light";
    font-size: 2.0rem;
    color: $text-color-heading;

    @media (max-width: 767px) {
      text-align: center;
    }

    // &::after {
    //   content: "";
    //   width: 2px;
    //   height: 60px;
    //   background-color: $mian-color;
    //   display: block;
    //   position: absolute;
    //   margin-left: 10px;
    // }
  }

  &__position {
    width: 100%;
    font-family: "OpenSans-Regular";
    font-size: 1.4rem;
    color: $text-color-text;

    @media (max-width: 767px) {
      text-align: center;
    }
  }

  &__quote {
    width: 100%;
    font-family: "OpenSans-Regular";
    font-size: 1.4rem;
    color: $text-color-text;
    max-width: 320px;

    @media (max-width: 767px) {
      text-align: center;
    }
  }

  &__counters {

  }

  &__counter {
    display: flex;
    flex-wrap: wrap;
    max-width: 350px;
    margin-bottom: 15px;

    & p {
      margin-bottom: 0;
    }
  }

  &__skill {
    width: 50%;
    text-align: left;
    font-family: "OpenSans-Regular";
    font-size: 1.6rem;
    color: $text-color-text;
  }

  &__procent {
    width: 50%;
    text-align: right;
    font-family: "OpenSans-Regular";
    font-size: 1.6rem;
    color: $text-color-text;
  }

  &__svg {
    width: 100%;
    height: 10px;
  }
}

.team-dots-nav {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;

  &__item {
    width: 10px;
    height: 10px;
    cursor: pointer;
    border: 1px solid $mian-color;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;

    &_active {
      background-color: $mian-color;
    }
  }
}

.team-cta {
  padding-top: 52px;
  padding-bottom: 57px;
  background-image: url("../img/the team cta.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  box-shadow: 0 0 0 3000px rgba(0, 0, 0, 0.75) inset;

  @media (max-width: 575px) {
    background-size: 100% 100% ;
  }

  &__text {
    font-family: "OpenSans-Regular";
    font-size: 2.0rem;
    color: $text-color-for-dark-bg;
    margin-bottom: 30px;
    text-align: center;
  }

  &__link {
    font-family: "OpenSans-Regular";
    font-size: 1.6rem;
    color: $text-color-for-dark-bg;
    border: 1px solid $text-color-for-dark-bg;
    padding: 8px 27px 12px 27px;
    border-radius: 22px;
    margin: 0 auto;
    display: block;
    max-width: 140px;
  }
}