.team-quotes {
  border-top: 38px solid $main-bg-color;
  padding-bottom: 100px;
  box-shadow: 0 0 0 50vh rgba(0, 0, 0, 0.75) inset;
  background-image: url("../img/impressed.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110% auto;

  @media (max-width: 575px) {
    background-size: auto 110%;
  }

  &__title {
    font-family: "SourceSansPro-Light";
    font-size: 2.0rem;
    color: $text-color-for-dark-bg;
    margin-bottom: 4.5rem;
    margin-top: 7.3rem;
  }

  &__text {
    font-family: "OpenSans-Regular";
    font-size: 1.6rem;
    color: $text-color-for-dark-bg;
    margin-bottom: 2.3rem;
  }

  &__author {
    font-family: "OpenSans-Regular";
    font-size: 1.4rem;
    color: $text-color-for-dark-bg;
  }

  &__main-text {  
    color: $mian-color;
  }

  &__img-container {
    position: relative;
    display: flex;
    justify-content: flex-end;

    @media (max-width: 575px) {
      justify-content: center;
      margin-top: 10px;
    }
  }

  &__img {
    display: block;
    width: 100%;
    max-width: 409px;
    position: absolute;
    bottom: -27px;
    
    @media (max-width: 1199px) {
      bottom: 0;
    }

    @media (max-width: 991px) {
      width: 250px;
    }

    @media (max-width: 767px) {
      width: 200px;
    }

    @media (max-width: 575px) {
      position: static;
      height: 150px;
    }
  }
 
}