

@font-face {
  font-family: "BIG-JOHN";
  src: local("BIG JOHN"),
   url("../fonts/Big John/BIG JOHN.otf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/Open_Sans/OpenSans-Bold.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto/Roboto-Light.ttf");
  font-style: normal;
  font-weight: normal;
}


@font-face {
  font-family: "SourceSansPro-Regular";
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SourceSansPro-Light";
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SourceSansPro-Black";
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Black.ttf");
  font-style: normal;
  font-weight: normal;
}