@import "src/blocks/const", "src/fonts", "src/blocks/header", "src/blocks/const", "src/blocks/main-screen","src/blocks/about-us", "src/blocks/details-about-us", "src/blocks/featured-projects", "src/blocks/services", "src/blocks/team-quotes", "src/blocks/portfolio", "src/blocks/team", "src/blocks/blog", "src/blocks/price", "src/blocks/subscrible", "src/blocks/contacts/contact", "src/blocks/contacts/form", "src/blocks/contacts/map", "src/blocks/footer" ;

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

